
.alert{
    position: fixed;
    z-index: 1080;
    top: 5rem;
}
.outer{  
    padding: 0;
}

.navigation{
    width: inherit;
}
.navigation-xs{
    background-color: #34af23;
}

.navigation-sm{
    background-color: #eee;
}

.navigation-sm .navbar-brand img{
    border-radius: 50%
}

.navigation .dropdown-menu{
    z-index: 1040; /* Sit on top */
    top: 0;
    right: 0;
    left: auto;
}

nav a strong{
    color: #41f476;
}

nav a:active{
    color: white;
    border-bottom: solid 3px white;
}

.notification{
    background-color: lightblue;
}

.fa-bell-slash{
    color: lightblue;
}
.media img{
    height: 3rem;
}

.msg:link{
    text-decoration: none;
    color: black;    
}

.msg p:nth-child(2){
    color: black;
}

.profile-dp{
    padding: 0;
    margin: 0;
}
.profile-dp .modal-dialog{
    width: 60vw;
    height: 30vh;
    left:20%;
    right: 20%;
    padding: 0;
    margin: 0;
}

.profile-dp .modal-content{
    top: 33vw;
    padding: 0;
    margin: 0
}

.profile-dp img{
    width: 60vw;
    height: 30vh;
    padding: 0;
    margin: 0;    
}

.new-chat{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

@media (min-width: 575.98px) {

    body, html {
        margin: 0;
        overflow: hidden;
        height:100%;
    }

    .left-main{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        overflow-y: scroll;
    }
    
    .right-main{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        
    }
    
    .right-main > div{
        background-color: #f7f9fa;
    }
    .whatsapp-image{
        text-align: center;
    }
}